*{
    margin: 0px;
    padding: 0px;
}

.h4 {
    float: left;
    font-weight: bold;
}

#logo:hover{
    cursor: pointer;
}

.navBar {
    width: 100%;
    padding: 15px;
    height: fit-content;
    display: grid;
    grid-template-columns: 30% auto;
    background-color: #878f99;
}
.navButtons {
    float: right;
}

#navList {
    margin: 0px;
    float: right;
}

#item{
    color: aliceblue;
    letter-spacing: .1em;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    list-style-type: none;
    margin-right: 20px;
    display: inline;
}

#item:hover {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

@media screen and (max-width:380px){
    .navButtons{
        display: none;
    }
}