.container-resume{
    margin: 15px 20%;
    padding: 10px;
    background-color: #a2b9bc;
}

.container-resume h3{
    text-align: center;
    text-decoration: underline;
    letter-spacing: .1em;
    color: #6b5b95;
}

.container-resume h4{
    color: #6b5b95;
}


#year, #location {
    float: right;
}

ul#subjectList{
    list-style-type: circle;
    list-style-position: inside;
}

.skillButton{
    margin-bottom: 50px;
}

.skillButton li{
    text-transform: uppercase;
    list-style: none;
    width: fit-content;
    float: left;
    color: white;
    background-color: #878f99;
    margin-right: 20px;
    padding: 2px 10px;
    border: 1px solid black;
    border-radius: 8px;
}

@media screen and (max-width:380px){
    .container-resume{
        margin: 5px 10px;
    }

    .container-resume h5{
        font-size: 15px;
        font-weight: bolder;
    }

    .skillButton li{
       float: none;
       width: 100%;
       text-align: center;
    }

    .skillButton{
        margin-bottom: 10px;
    }
}