.container-resume{
    margin: 15px 20%;
    padding: 10px;
    background-color: #a2b9bc;
}

.container-resume h3{
    text-align: center;
    text-decoration: underline;
    letter-spacing: .1em;
}

#year, #location {
    float: right;
}

ul#subjectList{
    list-style-type: circle;
    list-style-position: inside;
}

.skillButton{
    margin-bottom: 30px;
}

.skillButton span{
    text-transform: uppercase;
    color: white;
    background-color: #878f99;
    margin-right: 20px;
    padding: 2px 10px;
    border: 1px solid black;
    border-radius: 8px;
}